/*Tablet Layout*/

@media only screen and (min-width: 768px) and (max-width: 991px) {


}


/*Mobile small layout*/

@media only screen and (max-width: 767px) {


}

/*Mobile Large layout*/

@media only screen and (min-width: 480px) and (max-width: 767px) {


}